# dependencies
**node_modules

# build
**dist

# logs
**logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
**.env
**.env.stage.dev
**.env.stage.prod
**.env.docker

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
extra.md
# track.md