<html>
  <head>
    <title>Notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #f6f6f6;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }

      .container {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Hi {{name}} , Notification from Localhost team</h2>
      <p>View the updated content.</p>
      <p>Thank you</p>
    </div>
  </body>
</html>
